<div class="card mb-4 shadow-sm">
  <div class="card-header">Création de collegue</div>
  <div class="card-body text-dark">
    <div class="row">
      <div class="col-sm-4 mb-2">
        <img src="assets/images/keanu.png" alt="avatar generique" class="img-fluid shadow-sm">
      </div>
      <div class="col-sm-8">
        <form (ngSubmit)="valider()" #form="ngForm">

          <dl class="row">
            <dt class="col-md-5">Nom</dt>
            <dd class="col-md-7">
              <input [(ngModel)]="formData.lastName" name="lastName" #lastName="ngModel" type="text" class="form-control w-100"
                required minlength="2"[class.is-invalid]="(lastName.dirty && lastName.invalid)||causesErreur.lastName !== undefined" />
                <div *ngIf="causesErreur.lastName !== undefined" class="invalid-feedback">{{causesErreur.lastName}}</div>
                <div *ngIf="causesErreur.lastName === undefined" class="invalid-feedback">Veuillez entrer un nom d'au moins 2 caractères.</div>
            </dd>
            <dt class="col-md-5">Prénom</dt>
            <dd class="col-md-7">
              <input [(ngModel)]="formData.firstName" name="firstName" #firstName="ngModel" type="text" class="form-control w-100"
                required minlength="2" [class.is-invalid]="(firstName.dirty && firstName.invalid)||causesErreur.firstName !== undefined" />
              <div *ngIf="causesErreur.firstName !== undefined" class="invalid-feedback">{{causesErreur.firstName}}</div>
              <div *ngIf="causesErreur.firstName === undefined" class="invalid-feedback">Veuillez entrer un prénom d'au moins 2 caractères.</div>
            </dd>
            <dt class="col-md-5">Date de naissance</dt>
            <dd class="col-md-7">
              <input [(ngModel)]="formData.birthDate" name="birthDate" #birthDate="ngModel" type="date" class="form-control w-100"
              [class.is-invalid]="(birthDate.dirty && birthDate.invalid)||causesErreur.birthDate !== undefined" />
            <div *ngIf="causesErreur.birthDate !== undefined" class="invalid-feedback">{{causesErreur.birthDate}}</div>
            <div *ngIf="causesErreur.birthDate === undefined" class="invalid-feedback">Veuillez entrer une date de naissance.</div>
            </dd>
            <dt class="col-md-5">Email</dt>
            <dd class="col-md-7">
              <input [(ngModel)]="formData.email" name="email" #email="ngModel" type="text" class="form-control w-100"
                appEmailValidator [class.is-invalid]="(email.dirty && email.invalid) || causesErreur.email !== undefined" />
                <div *ngIf="causesErreur.email !== undefined" class="invalid-feedback">{{causesErreur.email}}</div>
                <div *ngIf="causesErreur.email === undefined" class="invalid-feedback">Cet email est déja utilisé.</div>
            </dd>
            <dt class="col-md-5">URL de la photo</dt>
            <dd class="col-md-7 input-group">
              <input [(ngModel)]="formData.pictureUrl" name="pictureUrl" #pictureUrl="ngModel" type="text"
                class="form-control w-100" minlength="7" required
                [class.is-invalid]="(pictureUrl.dirty && pictureUrl.invalid)||causesErreur.pictureUrl !== undefined" />
              <div *ngIf="causesErreur.pictureUrl !== undefined" class="invalid-feedback">{{causesErreur.pictureUrl}}</div>
              <div *ngIf="causesErreur.pictureUrl === undefined" class="invalid-feedback">Veuillez entrer une url d'image de plus de 7 caractères.</div>
            </dd>
          </dl>
          <div class="row">
            <div class="col-md-7 mb-4">
              <button class="btn btn-secondary" (click)="annuler()"> Annuler </button>
            </div>
            <div class="col-md-5 mb-4">
              <button type="submit" class="btn btn-success text-right" [disabled]="form.invalid"> Ajouter</button>
            </div>
          </div>
        </form>
      </div>
      <div [ngSwitch]="codeErreur" class="w-100 m-2">
        <div *ngSwitchCase="0" class="alert alert-warning w-100">Serveur injoignable</div>
        <div *ngSwitchCase="404" class="alert alert-danger w-100">Collegue introuvable</div>
        <div *ngSwitchCase="500" class="alert alert-warning w-100">Erreur interne au serveur</div>
      </div>
    </div>
  </div>
</div>