<div *ngIf="collegue !== undefined">
  <div class="card mb-4 shadow-sm">
    <div class="card-header">{{collegue.firstName}} {{collegue.lastName | uppercase}}</div>
    <div class="card-body text-dark">
      <div class="row">
        <div class="col-sm-4 mb-2">
          <img src="{{collegue.pictureUrl}}" alt="image de {{collegue.lastName}} {{collegue.firstName}}"
            class="img-fluid shadow-sm">
        </div>
        <div class="col-sm-8">
          <form (ngSubmit)="valider()" #form="ngForm">

            <div *ngIf="!modificationEnCours">
              <dl class="row">
                <dt class="col-md-5">Matricule</dt>
                <dd class="col-md-7">{{collegue.matricule}}</dd>
                <dt class="col-md-5">Date de naissance</dt>
                <dd class="col-md-7">{{collegue.birthDate | date:'dd/MM/yyyy'}}</dd>
                <dt class="col-md-5">Email</dt>
                <dd class="col-md-7">{{collegue.email}}</dd>
              </dl>
            </div>

            <div *ngIf="modificationEnCours">
              <dl class="row">
                <dt class="col-md-5">Matricule</dt>
                <dd class="col-md-7">{{collegue.matricule}}</dd>
                <dt class="col-md-5">Date de naissance</dt>
                <dd class="col-md-7">{{collegue.birthDate | date:'dd/MM/yyyy'}}</dd>
                <dt class="col-md-5">Email</dt>
                <dd class="col-md-7 input-group">
                  <input [(ngModel)]="formData.email" name="email" #email="ngModel" type="text" class="form-control w-100" required [class.is-invalid]="email.dirty && email.invalid"/>
                  <div *ngIf="email.dirty && email.invalid" class="text-sm text-danger" >Veuillez entrer un email.</div>
                </dd>
                <dt class="col-md-5">URL de la photo</dt>
                <dd class="col-md-7 input-group">
                  <input [(ngModel)]="formData.pictureUrl" name="pictureUrl" #pictureUrl="ngModel" type="text"
                    class="form-control w-100" minlength="7" required [class.is-invalid]="pictureUrl.dirty && pictureUrl.invalid"/>
                    <div *ngIf="pictureUrl.dirty && pictureUrl.invalid" class="text-sm text-danger">Veuillez entrer une url d'image de plus de 7 caractères.</div>
                  </dd>
              </dl>
            </div>
            <div class="row">
              <div class="col-md-7 mb-4">
                <div *ngIf="!modificationEnCours"><a class="btn btn-outline-dark" href="#" (click)="creer()"> Créer un
                    nouveau collegue </a></div>
                    <div *ngIf="modificationEnCours"><a class="btn btn-secondary" href="#" (click)="annuler()"> Annuler </a></div>
              </div>
              <div class="col-md-5 mb-4">
                <div *ngIf="modificationEnCours"><button type="submit" class="btn btn-success text-right" [disabled]="form.invalid"> Valider
                  </button></div>
                <div *ngIf="!modificationEnCours"><button class="btn btn-dark text-right" (click)="modifier()"> Modifier
                  </button></div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>