<div *ngIf="collegue !== undefined">
  <div class="card mb-4 shadow-sm">
    <div class="card-header">{{collegue.firstName}} {{collegue.lastName | uppercase}}</div>
    <div class="card-body text-dark">
      <div class="row">
        <div class="col-sm-4 mb-2">
          <img src="{{collegue.pictureUrl}}" alt="image de {{collegue.lastName}} {{collegue.firstName}}"
            class="img-fluid shadow-sm">
        </div>
        <div class="col-sm-8">
          <form (ngSubmit)="valider()" #form="ngForm">

            <div *ngIf="!modificationEnCours">
              <dl class="row">
                <dt class="col-md-5">Matricule</dt>
                <dd class="col-md-7">{{collegue.matricule}}</dd>
                <dt class="col-md-5">Date de naissance</dt>
                <dd class="col-md-7">{{collegue.birthDate | date:'dd/MM/yyyy'}}</dd>
                <dt class="col-md-5">Email</dt>
                <dd class="col-md-7">{{collegue.email}}</dd>
              </dl>
            </div>

            <div *ngIf="modificationEnCours">
              <dl class="row">
                <dt class="col-md-5">Matricule</dt>
                <dd class="col-md-7">{{collegue.matricule}}</dd>
                <dt class="col-md-5">Date de naissance</dt>
                <dd class="col-md-7">{{collegue.birthDate | date:'dd/MM/yyyy'}}</dd>
                <dt class="col-md-5">Email</dt>
                <dd class="col-md-7 input-group">
                  <input [(ngModel)]="formData.email" name="email" #email="ngModel" type="text"
                    class="form-control w-100" appEmailValidator [class.is-invalid]="(email.dirty && email.invalid) || causesErreur.email !== undefined" />
                    <div *ngIf="causesErreur.email !== undefined" class="invalid-feedback">{{causesErreur.email}}</div>
                    <div *ngIf="causesErreur.email === undefined" class="invalid-feedback">Veuillez entrer une url d'image de plus de 7 caractères.</div>
                </dd>
                <dt class="col-md-5">URL de la photo</dt>
                <dd class="col-md-7 input-group">
                  <input [(ngModel)]="formData.pictureUrl" name="pictureUrl" #pictureUrl="ngModel" type="text"
                    class="form-control w-100" appUrlValidator
                    [class.is-invalid]="(pictureUrl.dirty && pictureUrl.invalid)||causesErreur.pictureUrl !== undefined" />
                  <div *ngIf="causesErreur.pictureUrl !== undefined" class="invalid-feedback">{{causesErreur.pictureUrl}}</div>
                  <div *ngIf="causesErreur.pictureUrl === undefined" class="invalid-feedback">L'url doit commencer par http</div>
                </dd>
              </dl>
            </div>
            <div class="row">
              <div class="col-md-7 mb-4">
                <div *ngIf="!modificationEnCours && isAdmin"><button class="btn btn-outline-dark"  routerLink="/accueil/creer"> Créer un
                    nouveau collegue </button></div>
                <div *ngIf="modificationEnCours"><button class="btn btn-secondary" (click)="annuler()"> Annuler
                  </button></div>
              </div>
              <div class="col-md-5 mb-4">
                <div *ngIf="modificationEnCours"><button type="submit" class="btn btn-success text-right"
                    [disabled]="form.invalid"> Valider
                  </button></div>
                <div *ngIf="!modificationEnCours && isAdmin"><button class="btn btn-dark text-right" (click)="modifier()"> Modifier
                  </button></div>
              </div>
            </div>
            <div [ngSwitch]="codeErreur" class="w-100 m-3">
              <div *ngSwitchCase="0" class="alert alert-warning w-100">Serveur injoignable</div>
              <div *ngSwitchCase="404" class="alert alert-danger w-100">Collegue introuvable</div>
              <div *ngSwitchCase="500" class="alert alert-warning w-100">Erreur interne au serveur</div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="collegue === undefined && isAdmin" class="text-center">
  <button class="btn btn-outline-dark" routerLink="/accueil/creer" > Créer un nouveau collegue </button>
</div>