<div class="row m-3">
  <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-10 offset-md-1 card p-4 shadow">
    <div class="row">
      <div class="col-12 text-center">
        <img src="{{collegue?.pictureUrl}}" class="img-fluid shadow rounded"
          alt="image de {{collegue?.firstName}} {{collegue?.lastName}}">

      </div>
      <div class="col-12 mt-2">
      <dl class="row ">
        <dt class="col-md-3 offset-md-2">Matricule</dt>
        <dd class="col-md-6">{{collegue?.matricule}}</dd>
        <dt class="col-md-3 offset-md-2">Nom</dt>
        <dd class="col-md-6">{{collegue?.lastName}}</dd>
        <dt class="col-md-3 offset-md-2">Prénom</dt>
        <dd class="col-md-6">{{collegue?.firstName}}</dd>
        <dt class="col-md-3 offset-md-2">Date de naissance</dt>
        <dd class="col-md-6">{{collegue?.birthDate | date:'dd/MM/yyyy'}}</dd>
        <dt class="col-md-3 offset-md-2">Email</dt>
        <dd class="col-md-6">{{collegue?.email}}</dd>
      </dl>
      </div>
    </div>

  </div>
</div>